*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:"Prata", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 15px;
}
/* Estilo general */
header{
    background-color: #f0edd7;
    width: 100%;
    height: 150px;
    justify-content: space-around;
    align-content: center;
    display: grid;
    grid-column: 1 / span 1; /* Ocupa toda la columna */
    flex-wrap: wrap;
    margin: 0 auto;
}

.bienvenida{
    margin: 12px;
    gap: 32px;
}
nav ul{
  list-style: none;
  display: flex;
  gap: 32px;
  justify-content: space-between;
}
nav ul li a {
    color:#49483a;
    text-decoration: none ;/* quita subrayado*/
    padding: 0.5rem 1rem;
    border-radius: 4px;  /* los hace ver como botones*/
    transition: all 0.3s ease;
    align-items: center;
    justify-content: space-between;
    box-shadow: #4b4141;
   
}
nav ul li a :hover {
background-color: #c5b8b8;;
}

nav ul li,
nav ul form { /* Incluye el formulario con el botón en el selector */
  display: flex;
  align-items: center;
}

nav ul li a,
nav ul form button { /* Combina los estilos para el enlace y el botón */
  color: #0c0b0b;
  text-decoration: none;
  padding: 0.5rem 1rem;
  /* Quita los estilos que no quieres: */
  border: none; /* Quita la borde */
  background: none; /* Quita el fondo */
  border-radius: 0; /* Quita los bordes redondeados */
}

.boton-busqueda{
   padding: 17px 40px;
    border-radius: 50px;
    border: 0;
    background-color:#cec2a1;
    box-shadow: #4b4141 0 0 8px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    font-size: 15px;
    transition: all .5s ease;
    align-items: center;
    justify-items: center;
}
.boton-busqueda :hover{
  letter-spacing: 3px;
  background-color: #cec2a1;

}
.boton-busqueda  button:active{
  letter-spacing: 3px;
    background-color: #4b4141;
    color: #0c0b0b;
    box-shadow: #4b4141 0px 0px 0px 0px;
    transform: translateY(10px);
    transition: 100ms;
}
.search form{
  position: relative;
  display: flex;
  align-items: center;
  border: none;
  border-radius: 2rem;
  height: 4.4rem;
  overflow: hidden;
}
.search form button input{
  outline: none;
  border: none;
  color: #0c0b0b;
  cursor: pointer;
}
.search form button input ::-webkit-search-cancel-button{
appearance: none;
}
input {
  all: unset; /* Reseta todas las propiedades */
  /* O, de forma más específica: */
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  background: none;
}
.row{
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
  margin-bottom: 2rem;
  height: 350px;
  grid-column: 1 / span 1; /* Ocupa toda la columna */
}
.rosa{
  background-color: #cec2a1;
  color: white;
}
.text{
  max-width: 400px;
  margin: auto;
  font-size: 20px;
}
.text h2{
  font-size: 1.875rem;
}
.text p{
  font-size: 1.2rem;
  justify-content: center;
}
.content{
  text-align: start;
  justify-content: center;
}
.content img{
  width: 700px;
  height: auto;
  display:flex;
  align-content: center;
  object-fit: cover;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    justify-content: center;
    align-items: center;
    height: 100vh;
    scroll-behavior: smooth;
  }
  body.no-scroll {
    overflow: hidden; /* Evita el scroll en la página principal */
  }
  
  
  .cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
    padding: 20px;
    max-width: 1200px; /* Opcional: Limitar el ancho máximo del contenedor */
    margin: 0 auto; /* Centrar el contenedor en la página */
  }
  
  .card {
    display: flex;
    width: 300px;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease-in-out;
    overflow: hidden;
    position: relative;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
  .card h3 {
    color: #cec2a1;
  }
  .card p{
    color: #cec2a1;
  }
  .card .main-image {
    width: 100%;
    height: auto;
    display: block; /* Visible por defecto */
    align-items: center;
    object-fit: cover;
    object-position: top;
  }
  
  .card.fullscreen .main-image {
    display: none; /* Oculta la imagen en fullscreen */
  }
  
  
  .card h2 {
    margin: 0 0 10px;
    text-align: center;
    line-height: 1.8;
  }
  
  .card .extra-info {
    display: none;
    letter-spacing: 1px;
    word-spacing: 1,5px;
    line-height: 1.8;
    text-align: justify;
  }
  
  .card.fullscreen {
    width: 100%;
    height: 100%;
    padding: 40px;
    border-radius: 0;
    z-index: 1000;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #fff;
    overflow: auto;
  }
  .card.fullscreen .close-btn {
    position: fixed; /* Fija el botón en la pantalla */
    top: 20px;       /* Ajusta la distancia desde la parte superior */
    right: 20px;     /* Ajusta la distancia desde el lado derecho */
    z-index: 1100;   /* Asegúrate de que esté por encima del contenido */
    background-color: #ffced2;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }
  .card.fullscreen .extra-info {
    display: block;
    margin-top: 20px;
    max-height: calc(100vh - 80px); /* Ajusta al alto de la ventana menos los márgenes */
     overflow-y: auto;              /* Habilita el scroll dentro de esta sección */
    padding: 20px;
  }
  .card.fullscreen .close-btn:hover {
    background-color: #cec2a1;
  }
  .card.button .expand-btn{
    text-align: center;
    align-items: center;
    top: 5px;
    display: flex;
    margin: 0 auto; /* Centra el botón */
  }
  .card.fullscreen a {
    color: #ffced2; 
    text-decoration: underline; /* Añade subrayado */
    position: relative; /* Garantiza que esté por encima del fondo */
    z-index: 10;       /* Ajusta según sea necesario */
    display: inline-block;
    
  }
  
  .card.fullscreen a:hover {
    color: #a33e66; 
    text-decoration: none; /* elimina el subrayado al pasar el ratón */
  }
  button{
    padding: 17px 40px;
    border-radius: 50px;
    border: 0;
    background-color:#ffced2;
    box-shadow: #4b4141 0 0 8px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    font-size: 15px;
    transition: all .5s ease;
    align-items: center;
    justify-items: center;
    display: flex;
  }

  button:hover{
    letter-spacing: 3px;
    background-color: #cec2a1;
    color: #fff;
    box-shadow: #cec2a1 0px 7px 29px 0px;
  }
  button :active{
    letter-spacing: 3px;
    background-color: #cec2a1;
    color: #fff;
    box-shadow: #cec2a1 0px 0px 0px 0px;
    transform: translateY(10px);
    transition: 100ms;
  }
  #Contactanos{
    text-align: center;
    align-items: center;
    scroll-behavior: smooth;
  }

footer{
    background-color: #f0edd7;
    text-align: center;
    align-items: center;
}

@media (max-width: 780px) {
  /* Adjustments for small screens */

  header {
    height: auto; /* Adjust height as needed */
    grid-template-columns: 1fr; /* Stack elements vertically */
    position: static;
  }

  .row {
    flex-direction: column; /* Stack elements vertically */
    position: static;
  }
  .text {
    max-width: 80%; /* Adjust as needed */
    font-size: 16px; 
  justify-content: center;
text-align: justify;
}
  .cards-container {
    /* ... */
    margin: 0 auto;
}
  .content img {
    display: none;
  }
  nav {
    width: auto;
    flex-direction: row;
    transform: none;
  }

}

@media (max-width: 1199px) and (min-width: 768px) {
  /* Adjustments for medium screens */

header {
    /* Adjust styles for tablets */
    align-items: center;
    justify-content: space-between;
    position: static;
  }

  .row {
    /* Adjust styles for tablets */
    align-items: center;
    justify-content: space-between;
    position: static;
  }
  .text {
    max-width: 80%; /* Adjust as needed */
    font-size: 16px; 
    justify-content: center;
    text-align: justify;
  }
  .cards-container {
    /* ... */
    margin: 0 auto;}

  .content img {
    width: 100%;
    height: auto; /* Ajusta la altura automáticamente */
  }
  nav {
    width: auto;
    flex-direction: row;
    transform: none;
  }
}