*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:"Prata", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1rem;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #f0edd7;
    margin: 0 auto;
    width: 100%;
    height: 150px;
  }
  button a {
    margin-left: auto;
    padding: 0.5rem 1rem;
    background-color: #cec2a1;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    align-items: center;
    text-decoration: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }

  button :hover {
    background-color: #ffced2;
  }

.nosotros{
    max-width: 1440px;
    margin: 0 auto;
    margin-bottom: 2rem;
    background-color: #cec2a1;
}
.content{
    display: flex;
    align-content: center;
}
.content img{
    width: 50%;
}
.text{
    max-width: 400px;
    margin: auto;
    color: white;
}
.text h4{
    text-align: justify;
    font-size: 1.5rem
}

footer{
    background-color:#f0edd7;
    text-align: center;
    align-items: center;
}

/* Media query para pantallas medianas */
@media (max-width: 780px){
    .content {
      flex-direction: row; /* Volvemos a la disposición horizontal */
      justify-content: space-between;
    }
  
    .content img {
      width: 25%; /* Ajusta el ancho de la imagen */
    }
  
    .text {
     max-width: 150px; /* Ajusta el ancho del texto */
    }
  }

  @media (max-width: 150px){
    .content {
        flex-direction: row; /* Volvemos a la disposición horizontal */
        justify-content: space-between;
        width: 100%; /* Ocupa todo el ancho de la pantalla */
        height: auto; /* La altura se ajusta automáticamente */
      }
    
      .content img {
        width: 50%; /* Ajusta el ancho de la imagen */
    
      }
    
      .text {
        height: auto; /* La altura se ajusta automáticamente */
      }
  }